/*=== Import fonts ===*/
@import url(../css/fonts.css);

/*=== Import variables ===*/
@import url(../css/partials/_variables.css);

/*=== Import global styles ===*/
@import url(../css/partials/_global.css);

/*=== Navigation menu ===*/

.header .main-menu .navbar {
  padding: 1rem;
}

.header .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header .main-menu .nav-item .nav-link {
  padding: 1rem;
  font: normal 500 16px/2px var(--roboto);
  text-transform: uppercase;
  color: var(--title-color);
}

.header .main-menu .navbar-nav .active .nav-link,
.header .main-menu .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/*=== Intro section ===*/
.site-main .site-intro {
  background: url(../img/intro/intro-bg.png) no-repeat 0% 50%;
}

.site-main .site-intro .intro-title .suptitle {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-intro .intro-title .suptitle::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 18vw;
  margin-left: 5%;
  transform: translateY(-10px);
  background: #000;
}

.site-main .site-intro .intro-title .main-title {
  font-size: 5rem;
}

.site-main .site-intro .intro-title .subtitle {
  font-size: 1.5rem;
}

.site-main .site-intro .intro-image > .image {
  width: 90rem;
  padding: 7rem 0;
}

/*=== About section ===*/
.site-main .site-about {
  padding: 8rem 5rem;
}

.site-main .site-about .about-title .title > .title-span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
}

.site-main .site-about .about-title .paragraph > .paragraph-text {
  padding: 0.4rem 0;
}

/*=== Brand section ===*/
.site-main .site-brand {
  margin-bottom: 4rem;
  padding: 1rem 0;
}

.site-main .site-brand .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .site-brand .first-row .col-lg-4 > .single-brand {
  width: 100%;
  height: 100px;
  margin: 0.9rem 0;
  padding: 1.8rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.site-main .site-brand .first-row .col-lg-4 > .single-brand > .brand-image {
  width: 50%;
}

.site-main .site-brand .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main
  .site-brand
  .first-row
  .col-lg-4
  > .single-brand:hover
  > .brand-image {
  filter: brightness(0.15);
}

.site-main .site-brand .experience-area {
  padding-left: 1rem;
}

.site-main .site-brand .experience-area span {
  display: block;
}

.site-main .site-brand .experience-area .years-area {
  position: relative;
  width: 40rem;
  height: 18rem;
  padding: 2rem 0;
  padding-left: 8rem;
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
}

.site-main .site-brand .experience-area .bg-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 400px;
  height: 400px;
  margin-left: 150px;
  background: #e029290a;
}

.site-main .site-brand .experience-area .years-area .years {
  font: normal bold 84px/40px var(--roboto);
  color: var(--primary-color2);
  z-index: 2;
}

.site-main .site-brand .experience-area .years-area .title > .title-span {
  font: normal 500 22px/30px var(--roboto);
}

.site-main .site-brand .experience-area .call-area {
  padding-left: 10rem;
}

/*=== Services section ===*/
.site-main .site-services {
  padding: 7rem 2rem;
}

.site-main .site-services .services-title {
  padding: 0 14rem;
}

.site-main .site-services .services-title .title {
  font-size: 35px;
}

.site-main .site-services .services {
  width: 16rem;
  margin: 5rem 0.5rem;
  padding: 2rem 0;
  background: rgba(248, 252, 253, 0.973);
  transition: box-shadow 0.6s ease;
}

.site-main .site-services .services:hover {
  box-shadow: var(--box-shadow);
}

/*=== Projects section ===*/
.site-main .site-projects {
  padding: 4rem 0;
}

.site-main .site-projects .button-group .tab-button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .site-projects .button-group .tab-button.active {
  color: var(--primary-color);
}

.site-main .site-projects .button-group .tab-button + .tab-button {
  margin-left: 3rem;
}

.site-main .site-projects .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .site-projects .grid .project-image {
  width: 100%;
  height: auto;
}

.site-main .site-projects .grid .our-project .img:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/*=== About section ===*/
.site-main .site-about .about-title .paragraph-text {
  padding: 1rem 7rem;
}

.site-main .site-about .client {
  margin: 3rem 0;
  background: #ffffff10;
  box-shadow: var(--box-shadow);
}

.site-main .site-about .client .client-img {
  padding: 2rem;
}

.site-main .site-about .client .about-client {
  padding-top: 2rem;
}

.site-main .site-about .client .about-client h4 {
  font: normal 500 21px/20px var(--roboto);
}

.site-main .site-about .client .about-client .paragraph-text {
  font-size: 14px;
}

.site-main .site-about .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .site-about .owl-carousel .owl-dots .owl-dot.active span {
  width: 12px;
  height: 12px;
  background: var(--primary-color);
}

/*=== Subscribe section ===*/
.site-main .site-subscribe .subscribe {
  margin: 3rem auto;
  padding: 10rem 0;
  background: url(../img/subscribe-bg.png) no-repeat;
}

.site-main .site-subscribe .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: #f5f5f5;
}

.site-main .site-subscribe .subscribe .subscribe-title .paragraph-text {
  padding: 1rem 4rem;
  color: #f5f5f5;
}

.site-main .site-subscribe .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid #f5f5f5;
  background: transparent;
  color: #f5f5f5;
  font: normal 500 17px/20px var(--roboto);
}

.site-main .site-subscribe .subscribe form .input-textbox input::placeholder {
  color: #f5f5f5;
}

.site-main .site-subscribe .subscribe form .btn-submit button {
  padding: 0.7rem 2rem;
  background: #f5f5f5;
  color: #000;
  border: none;
}

.site-main .site-subscribe .subscribe form .btn-submit button:hover {
  background: #fff;
}

/*=== Footer ===*/
.footer {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
}

.footer .social h5 {
  font: normal 500 23px/30px var(--roboto);
}

.footer .social a > i {
  padding: 2rem;
  font-size: 22px;
  color: var(--border-color);
}

.footer .social a > i:hover {
  color: var(--primary-color);
}
