/*=== Import fonts ===*/
@import url(../css/fonts.css);

/*=== Import variables ===*/
@import url(../css/partials/_variables.css);

/*=== Import global styles ===*/
@import url(../css/partials/_global.css);

/*=== Navigation menu ===*/

.header .main-menu .navbar {
  padding: 1rem;
}

.header .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header .main-menu .nav-item .nav-link {
  padding: 1rem;
  font: normal 500 16px/2px var(--roboto);
  text-transform: uppercase;
  color: var(--title-color);
}

.header .main-menu .navbar-nav .active .nav-link,
.header .main-menu .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/*=== Intro section ===*/
.site-main .site-intro {
  background: url(../img/intro/intro-bg.png) no-repeat 0% 50%;
}

.site-main .site-intro .site-title .suptitle {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-intro .site-title .suptitle::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 18vw;
  margin-left: 5%;
  transform: translateY(-10px);
  background: #000;
}

.site-main .site-intro .site-title .main-title {
  font-size: 5rem;
}

.site-main .site-intro .site-title .subtitle {
  font-size: 1.5rem;
}

.site-main .site-intro .intro-image > .image {
  width: 90rem;
  padding: 7rem 0;
}
