/*=== Global styles ===*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.title-text {
  font: normal bold 50px/72px var(--roboto);
}

/*=== Buttons ===*/
.button {
  position: relative;
  padding: 0.8rem 2.2rem;
  border: 3px solid transparent;
  border-radius: 4px;
  font: normal 500 16px/20px var(--roboto);
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: #f5f5f5;
  box-shadow: var(--box-shadow);
  transition: background 0.3s ease;
}

.button.primary-button:hover {
  background: #f5f5f5;
  background-clip: padding-box;
  color: #000;
}

.button.primary-button:after,
.button.secondary-button:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  border-radius: 4px;
  background: var(--gradient-color);
}

.button.secondary-button {
  background: #fff;
  background-clip: padding-box;
  transition: background 0.3s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: #f5f5f5;
  box-shadow: var(--box-shadow);
}
